@charset "UTF-8";

body {
    background-color: lightgray;
}

main {
    background-color: white;
    max-width: 950px;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
}

h1 {
    text-align: center;
}

#container-sec-btn {
    display: flex;
    justify-content: center;
}

input {
    padding: 10px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    border: 0.5px solid black;
}

#sec-btn {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}

#item {
    width: 300px;
}

#paragrafo-btn input {
    width: 100px;
    margin-left: 5px;
}

#btn-add {
    background-color: #198754;
    color: white;
    border-color: white;

    &:hover {
        color: #198754;
        font-weight: bold;
        background-color: white;
        border-color: #198754;
        transition-duration: .4s;
    }
}

#btn-del {
    background-color: #DC3545;
    color: white;
    border-color: white;

    &:hover {
        color: #DC3545;
        font-weight: bold;
        background-color: white;
        border-color: #DC3545;
        transition-duration: .4s;
    }
}

#btn-list {
    background-color: #FFC107;
    color: white;
    border-color: white;

    &:hover {
        color: #FFC107;
        font-weight: bold;
        background-color: white;
        border-color: #FFC107;
        transition-duration: .4s;
    }
}